<% if (language === "en") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Changing the user password in Ubuyblues</h2>
            <p>
                Dear
            </p>
            <p>
                Hello
            </p>
            </p>
            <p>
                We would like to inform you that the password for your account at Ubuyblues was changed on 29/01/2024. If you made this change yourself, there is no need to worry
            </p>
            <p>However, if you did not change the password yourself, or if you suspect any unauthorized activity, we strongly recommend that you change your password immediately. You can do this by visiting <a href="https://ubuyblues.com/forget-password">the password change link</a> and following the instructions.</p>
            <p>If you have any inquiries or need assistance, do not hesitate to contact us at <a href="mailto:info@ubuyblues.com">info@ubuyblues.com</a></p>
            <h4>Best regards,</h4>
            <h4 style="line-height: 0; color: #6A017A;">The Ubuyblues Team</h4>
        </section>
    </div>
<% } else if (language === "ar") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;"
        >
            <h2 style="text-align: center;">تغيير كلمة مرور المستخدم في Ubuyblues</h2>
            <p>عزيزي/عزيزتي [اسم المستلم]،</p>
            <p>مرحبا</p>
            <p>نود إعلامكم أنه قد تم تغيير كلمة المرور الخاصة بحسابكم لدى Ubuyblues في تاريخ [تاريخ التغيير]. إذا كنتم قد قمتم بهذا التغيير بأنفسكم، فلا داعي للقلق.</p>
            <p>ومع ذلك، إذا لم تقم أنت بتغيير كلمة المرور، أو إذا كنت تشك في أي نشاط غير مصرح به، نوصي بشدة بتغيير كلمة المرور الخاصة بك على الفور. يمكنك القيام بذلك عن طريق زيارة <a href="https://ubuyblues.com/forget-password">رابط تغيير كلمة المرور</a> واتباع التعليمات.</p>
            <p>إذا كان لديك أي استفسارات أو تحتاج إلى مساعدة، لا تتردد في التواصل معنا عبر <a href="mailto:info@ubuyblues.com">info@ubuyblues.com</a> .</p></p>
            <p>نشكرك على ثقتك بنا، ونأمل أن تستمتع بخدماتنا.</p>
            <h4>أطيب التحيات,</h4>
            <h4 style="line-height: 0; color: #6A017A;">فريق عمل Ubuyblues</h4> 
        </section>
    </div>
<% } else if (language === "de") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Ändern des Benutzerpassworts in Ubuyblues</h2>
            <p>
                Lieber / Liebe
            </p>
            <p>
                Hallo
            </p>
            </p>
            <p>
                Wir möchten Sie darüber informieren, dass das Passwort für Ihr Konto bei Ubuyblues am 29.01.2024 geändert wurde. Wenn Sie diese Änderung selbst vorgenommen haben, besteht kein Grund zur Sorge.
            </p>
            <p>Sollten Sie jedoch das Passwort nicht selbst geändert haben oder vermuten Sie eine unbefugte Aktivität, empfehlen wir Ihnen dringend, Ihr Passwort sofort zu ändern. Dies können Sie tun, indem Sie <a href="https://ubuyblues.com/forget-password">den Link zur Passwortänderung</a> besuchen und den Anweisungen folgen.</p>
            <p>Wenn Sie Fragen haben oder Unterstützung benötigen, zögern Sie nicht, uns unter <a href="mailto:info@ubuyblues.com">info@ubuyblues.com</a> zu kontaktieren.
            </p>
            <h4>Mit freundlichen Grüßen,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Das Ubuyblues-Team</h4>
        </section>
    </div>
<% } else { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Ubuyblues'de kullanıcı şifresini değiştirme</h2>
            <p>
                Sevgili
            </p>
            <p>
                Merhaba
            </p>
            </p>
            <p>
                Ubuyblues hesabınızın şifresi 29/01/2024 tarihinde değiştirilmiştir. Bu değişikliği kendiniz yaptıysanız endişelenmenize gerek yoktur.
            </p>
            <p>Ancak, şifreyi kendiniz değiştirmediyseniz veya yetkisiz bir etkinlikten şüpheleniyorsanız, şifrenizi hemen değiştirmenizi şiddetle tavsiye ederiz. Bunu, <a href="https://ubuyblues.com/forget-password">şifre değiştirme bağlantısını</a> ziyaret ederek ve talimatları izleyerek yapabilirsiniz.</p>
            <p>Herhangi bir sorunuz veya yardıma ihtiyacınız varsa, bizimle <a href="mailto:info@ubuyblues.com">info@ubuyblues.com</a> adresinden iletişime geçmekten çekinmeyin.</p>
            <h4>Saygılarımla,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Ubuyblues Ekibi</h4>
        </section>
    </div>
<% } %>