<% if (language === "en") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Confirmation of store addition request at Ubuyblues</h2>
            <p>
                We are pleased to inform you that your request to add your store to our website has been accepted.
            </p>
            <p>
                We will start processing and reviewing your request as soon as possible.
            </p>
            </p>
            <p>
                Thank you for choosing to work with us.
            </p>
            <h4>Best regards,</h4>
            <h4 style="line-height: 0; color: #6A017A;">The Ubuyblues Team</h4>
        </section>
    </div>
<% } else if (language === "ar") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;"
        >
            <h2 style="text-align: center;">تأكيد وصول طلب إضافة متجر لدى Ubuyblues</h2>
            <p>
                نحن سعداء بالإعلام بقبول طلبكم لإضافة متجرك الخاص في موقعنا الإلكتروني .
            </p>
            <p>
                سنقوم بالبدء في عملية المعالجة والتدقيق في طلبكم في أقرب وقت ممكن .
            </p>
            </p>
            <p>
                شكرًا لكم على اختياركم للتعامل معنا .
            </p>
            <h4>أطيب التحيات,</h4>
            <h4 style="line-height: 0; color: #6A017A;">فريق عمل Ubuyblues</h4> 
        </section>
    </div>
<% } else if (language === "de") { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Bestätigung der Anfrage zur Geschäftsergänzung bei Ubuyblues</h2>
            <p>
                Wir freuen uns, Ihnen mitteilen zu können, dass Ihr Antrag zur Hinzufügung Ihres Geschäfts zu unserer Website akzeptiert wurde.
            </p>
            <p>
                Wir werden so bald wie möglich mit der Bearbeitung und Überprüfung Ihrer Anfrage beginnen.
            </p>
            </p>
            <p>
                Vielen Dank, dass Sie sich für eine Zusammenarbeit mit uns entschieden haben.
            </p>
            <h4>Mit freundlichen Grüßen,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Das Ubuyblues-Team</h4>
        </section>
    </div>
<% } else { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
            <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.webp" alt="Ubuyblues Image"
                style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Ubuyblues'ta mağaza ekleme talebinin onayı</h2>
            <p>
                Mağazanızı web sitemize ekleme talebinizin kabul edildiğini bildirmekten mutluluk duyarız.
            </p>
            <p>
                Talebinizi en kısa sürede işlemeye ve incelemeye başlayacağız.
            </p>
            </p>
            <p>
                Bizimle çalışmayı seçtiğiniz için teşekkür ederiz.
            </p>
            <h4>Saygılarımla,</h4>
            <h4 style="line-height: 0; color: #6A017A;">Ubuyblues Ekibi</h4>
        </section>
    </div>
<% } %>